<!DOCTYPE html>
<html>
<body>
<h3>Advertisement Form</h3>
<div class="container">
  <form action="/" method="POST">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" placeholder="write title">

    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="write name..">

    <label for="category">Category</label>
    <select id="category" name="category">
      <option disabled value="null">Select Option</option>
      <option value="Furniture">Furniture</option>
      <option value="Hardware">Hardware</option>
      <option value="Mobile">Mobile</option>
    </select>

    <label for="subject">Description</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>
