<section>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark text-light">
        <h4 class="navbar-brand">
          <img src="/assets/X.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
          <span>Flights</span></h4>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a routerLink="/contactUs" routerLinkActive="active" class="nav-link">Contact Us</a>
              </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <button routerLink="/login" style="background-color: rgb(245, 244, 241);"class="btn btn-outline-alert my-2 my-sm-0" routerLinkActive="active" type="submit">Logout</button>
          </form>
        </div>
      </nav>
    </section>

    
<section class="list">
  <div class="container" >
    <div style="border: 1px;border-radius: 20px;border-style: solid;border-width: 4px;border-color: darkblue;
    background-color:cornflowerblue;text-align: center;padding: 60px;padding-bottom: 1rem;" >
          <h2 class="mt-1 mb-1" style="padding: 20px 0px ;color: whitesmoke;">Welcome user</h2>
          <div style="padding-left: 20rem;padding-right: 20rem;">
            <h3 style="border-radius: 10px; border-style: solid;padding-top: 8px;padding-bottom: 8px; border-width: 1px;
            background-color: rgb(26, 43, 59);color: lavender;">{{user.firstName}}</h3>
          </div>
    </div>
      <div *ngIf="deleteSubmit" style="padding: 3rem;padding-left: 25rem;padding-bottom: 2rem;">
        <button (click)="deleteUser(user.userId)" class="btn btn-danger">Finalize Delete Account!</button>.
        <button (click)="cancelDelete()" class="btn btn-success">Cancel</button>
      </div>
      <div style="padding-top: 2rem;">
          <h2 class="mt-1 mb-1" style="text-align: center;color: aliceblue;background-color: darkorchid;
          padding: 1rem;border-radius: 15px;">
            <strong>Your Account Details</strong>
          </h2>
        </div>
      <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="mt-0 mb-1">
          <button (click)="deleteCheck()"class="btn btn-danger">Delete Account!</button>
          .  
          <button (click)="createBooking()"class="btn btn-book">Book Flights!</button>
        </div>
          <table class="table table-striped">
              <thead>
                  <tr style="text-align: center; color: whitesmoke;" class="bg bg-primary">
                      <td>UserId</td>
                      <td>First Name</td>
                      <td>Last Name</td>
                      <td>Email</td>
                      <td>Password</td>
                      <td>Actions</td>
                  </tr>
              </thead>
              <tbody>
                  <tr style="text-align: center;" *ngIf="user">
                      <td><strong>{{user.userId}}</strong></td>
                      <td><strong>{{user.firstName}}</strong></td>
                      <td><strong>{{user.lastName}}</strong></td>
                      <td><strong>{{user.email}}</strong></td>
                      <td><strong>{{user.password}}</strong></td>
                      <td>
                          <button (click)="updateCheck()" class="btn btn-success" style="margin-left: 10px">Update Details</button>
                     </td>
                  </tr>
              </tbody>
          </table>
      </div> 
  </div>
  </section>

  <section>
    <div class="container" *ngIf="updateSubmit">
        <h2 class="mt-1 mb-1" style="text-align: center;padding: 50px;">Edit User Details</h2>
        <div class="row">
          <div class="col-lg-12 col-sm-12 col-xs-12">
            <div style="width: 400px;">
              <form>
                <div class="form-group">
                  <label for="firstName"><b>First Name :</b></label>
                  <input type="text" autofocus class="form-control" 
                  id="firstName" required [(ngModel)]="user.firstName" name="firstName">
                  </div>
            
                <div class="form-group">
                    <label for="lastName"><b>Last Name :</b></label>
                    <input type="text" class="form-control" id="lastName" 
                    required [(ngModel)]="user.lastName" name="lastName">
                </div>
            
                <div class="form-group">
                    <label for="email"><b>Email :</b></label>
                    <input type="text" class="form-control" required id="email"
                     required [(ngModel)]="user.email" name="email">
                </div>
                
                <div class="form-group">
                    <label for="password"><b>Password :</b></label>
                    <input type="password" class="form-control" 
                    id="password" required [(ngModel)]="user.password" name="password">
                </div>
                <div>
                  <button type="submit" (click)="cancelUpdate()" class="btn btn-danger">Cancel</button>.
                  <button type="submit" (click)="updateUser(user.userId)" class="btn btn-success">Finalize Update</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
</section>
<section style="padding-left: 3rem;padding-right: 3rem;padding-bottom: 40rem;">
  <div>
    <h2 class="mt-5">Your Bookings :</h2>
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <table class="table" style="text-align: center;">
            <thead>
                <tr style="text-align: center; color: whitesmoke;" class="bg bg-dark">
                    <td>Booking Id</td>
                    <td>Unique Code</td>
                    <td>Booking Date</td>
                    <td>No of Passengers</td>
                    <td>Flight Id</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                <tr style="text-align: center;" *ngFor="let booking of bookings">
                    <td>{{booking.bookingId}}</td>
                    <td>{{booking.uniqueCode}}</td>
                    <td>{{booking.bookingDate}}</td>
                    <td>{{booking.noOfPassengers}}</td>
                    <td>{{booking.flightId}}</td>
                    <td>
                        <button (click)="deleteBooking(booking.bookingId)"class="btn btn-danger">Cancel</button>
                        <button (click)="getBookingDesc(booking.bookingId)" class="btn btn-success" style="margin-left: 10px">Booking Description</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</section>
