<!-- <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-info text-light">
    <h4 class="navbar-brand">
      <img src="assets/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      <span>Flight Reservation System</span></h4>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
            <a routerLink="/contactUs" routerLinkActive="active" class="nav-link">Contact Us</a>
          </li>
        <li class="nav-item">
            <a routerLink="/register" routerLinkActive="active" class="nav-link">Register</a>
          </li>
        <li class="nav-item">
          <a routerLink="/userPanel" routerLinkActive="active" class="nav-link">User Page</a>
        </li>
        <li class="nav-item">
          <a routerLink="/adminPanel" routerLinkActive="active" class="nav-link">Admin Page</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button  routerLink="/login" style="background-color: rgb(245, 244, 241);"class="btn btn-outline-alert my-2 my-sm-0" routerLinkActive="active" type="submit">Login</button>
      </form>
    </div>
  </nav> -->